.helix
.vscode
*.dylib
*.so
*.swp
*.swo
trace-*.json
.DS_Store
.idea/*
__pycache__
build
buildServer.json
xcuserdata
model*.safetensors
mimi-*.safetensors
moshi-*.safetensors
codes-*.safetensors
asr-*.safetensors
moshi-out.wav
moshi-trace.json
bria*safetensors
bria*wav
